* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background-image: url('img/librocerrado.jpg');
    height: auto;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#h1 {
    font-family: 'Cinzel', serif;
    font-size: 50px;
    font-weight: 900;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
}

#h2 {
    color: #4d004d;
    font-family: 'Roboto' , monospace;
    font-size: 30px;
    font-weight: 900;
    text-shadow: white 0.1em 0.1em 0.2em;
    text-align: right;
    padding-right: 10px;
}

#h3 {
    color: white;
    font-family: 'Cinzel', serif;
    font-size: 20px;
    font-weight: 300;
    text-shadow: black 0.1em 0.1em 0.2em;
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
}

#containerCruces {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25%;
}

#tituloCalendario {
    color: white;
    text-decoration: none;
    font-family: 'Roboto', monospace;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.cruzTemplaria {
    border: 2px solid white;
    border-radius: 50%;
}

.cruz {
    border: 2px solid white;
    border-radius: 50%;
}

#tituloOraciones{
    color: white;
    text-decoration: none;
    font-family: 'Roboto', monospace;
    text-shadow: black 0.1em 0.1em 0.2em;
}

/*-------------------------RESPONSIVE MEDIAQUERIS----------------------------------------------------------------*/
@media screen and (min-width: 901px) and (max-width: 1200px){
    #containerCruces {
        margin-top: 25%;
    }
}

@media screen and (min-width: 650px) and (max-width: 900px){
    #containerCruces {
            margin-top: 17%;
        }
}


@media screen and (min-width: 452px) and (max-width: 649px){
 
    #h1 {
            font-size: 40px;
            text-align: center;
        }
    
        #h2 {
            font-size: 28px;
            text-align: center;
        }
    
        #h3 {
            font-size: 20px;
            text-align: center;
        }
    
        #containerCruces {
            margin-top: 25%;
            flex-direction: row;
    
        }

}




@media screen and (min-width: 340px) and (max-width: 451px){
    
    
    #h1 {
            font-size: 40px;
            text-align: center;
    }

    #h2 {
            font-size: 20px;
            text-align: center;   
        }

    #h3 {
            font-size: 16px;
            text-align: center;
        }
    
    #containerCruces {
            margin-top: 25%;
            padding-left: 25px;
            flex-direction: row;
    
        }

      
}



