html, body{
    /*overflow: hidden; /* No hagas scroll*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

}


.wrapper{
    width: 90%;
    height: 800px;
    margin: 0 auto;
}


.swal2-input{
    width: 100%;
    margin-left: 0;
    height: 2.5em;
    margin-right: 0;
}

textarea.swal2-input{
    height: 5em;
    padding: 0.5em 0.5em;

}


.swal2-close{
    outline: none;
}

.swal2-html-container{
    padding: 0;
}