* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-image: url('../../css/img/maderas-jon-moore-5fIoyoKlz7A-unsplash.jpg');
    background-size: 100vw 100vh;
    /*tamaño pantalla responsive*/
    background-repeat: repeat;

}

.salidas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.salidas a {
    font-size: 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.header img {
    width: 75px;
    height: 75px;

    margin-top: 20px;
    border-radius: 25%;

}

#titulo1 {
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    

    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;

}


/*--------------------------------------------------*/

.container{
    display:flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 0px;
    margin-top: 0px;
    gap: 50px;
}

/*--------------------ASIDE---------------------------------*/

.aside {

    font-family: 'Roboto Mono', monospace;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-weight: 300;
    font-size: 18px;
    padding-left: 10px;

    width: 30%;
    height: 10%;

   /* position: fixed;*/
    transition: .3s all;
    z-index: 1;
    /*cuando activemos la barra pasara encima de todos los elementos*/

}

#titulo3 {
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    margin-left: 20px;
    margin-right: 20px;
}

.aside ul {
    padding: 10px;
    text-align: left;
    text-decoration: none;
    list-style: none;
}


.aside li {
    transition: .2s all;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;

}

.aside a {
    text-decoration: none;
    list-style: none;

    transition: .2s all;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.aside li em{
    font-weight: 200;
    font-size: 14px;
}

.aside:hover {
    font-size: 20px;
    font-weight: 500;
}

/*-----------------------------------------------------------------------------------------------------------------*/
#main {
    width: 50%;
    margin-left: 0%;
    height: auto;
    /*border: 2px solid white;*/

    color: black;
    font-size: 18px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    line-height: 36px;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;

   


}

/*-------------------------------------------------------------------------------------------------------------*/



