*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
   background-image: url('../css/img/maderas-jon-moore-5fIoyoKlz7A-unsplash.jpg');
    background-size: 100vw 100vh; /*tamaño pantalla responsive*/
    background-repeat: repeat;
    
}

.titulo3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.titulo3 a{
    color: white;
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
    text-shadow: black 0.1em 0.1em 0.2em;
    text-decoration: none;
}

.header{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 130px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header img{
    width: 75px;
    height: 75px;
    margin-top: 20px;
    border-radius: 25%;
}

#titulo1{
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    text-align: center;

    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    
}
/*----------------------------CONATINER PRINCIPAL--------------------------------------*/

.container{ 
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 0px;
    margin-top: 0px;
    gap: 50px;
}

/*--------------------------------------------------------------------------------------------*/
/*NAVBAR*/

.navbar{
    font-family: 'Roboto Mono', monospace;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-weight: 300;
    font-size: 16px;
    padding-left: 10px;

    width: 30%;
    height: 10%;

    /*position: fixed;*/
    transition: .3s all;
    z-index: 1; /*cuando activemos la barra pasara encima de todos los elementos*/
}

.navbar ul{
    padding: 10px;
    text-align: left;
}


#titulo2{
    text-shadow: black 0.1em 0.1em 0.2em;
    text-align: center;
    
    font-weight: 400;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 24px;
}

.navbar li{
    transition: .2s all;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    list-style: none;

}

.navbar a{
    text-decoration: none;
    list-style: none;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    transition: .2s all;

}

.navbar:hover{
    font-size: 20px;
    font-weight: 500;
}

/*---------------------------------------MAIN--------------------------------------------*/
#main{
    width: 50%;
    /*border: 2px solid white;*/
    height: auto;
    margin-left: 0%;

    color: black;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    
    font-weight: 500;
    line-height: 36px;

    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}




